@model List<Model.EF.Product>
@{
    ViewBag.Title = "Kết Quả Tìm Kiếm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row title-row">
        <div class="col-sm ">
            <div class="horizontal-line">
                <div class="product-name-title">Sản phẩm cần tìm<i class="fas fa-angle-double-right"></i>	<hr class="line"></div>
            </div>
        </div>
    </div>

    <div class="row best-product-row">
        @foreach (var item in Model)
        {
            var link = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
            <div class="col-sm-6 col-md-4 col-lg-3 bg-light">
                <div class="top-seller">
                    <div class="card">
                        <div class="card-body">
                            <h6>@item.TenSanPham</h6>
                            <div class="heart-icon" onclick="changeIcon(this)">
                                <i class="far fa-heart fa-lg"></i>
                                <i class="fas fa-heart fa-lg black-heart-icon"></i>
                            </div>
                            <div class="card-img">
                                <a href="@link">
                                    <img class="card-img-top product-img" src="@item.HinhAnh" alt="Card image"><span class="overlay">Chi tiết</span>
                                </a>
                            </div>

                            <div class="product-cost"><p class="center-text"><b>Giá: @item.GiaBan.GetValueOrDefault(0).ToString("N0")VND</b></p></div>
                            <form action="@link" method="GET">
                                <!-- Mặc định method của form là get -->
                                <input type="hidden" name="masp" value="01122">
                                <div class="product-button">
                                    <a href="/them-gio-hang?productID=@item.ID&soluong=1" class="a-button" style="color:black">Mua ngay<i class="fas fa-shopping-cart fa-flip-horizontal"></i></a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


