@model PagedList.IPagedList<Model.EF.Product>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- begin slideshow -->
<div class="row slideshow-row">
    <div class="col-sm">
        <div class="slide">
            <div id="demo" class="carousel slide" data-ride="carousel">
                <!-- tạo chỉ thị -->
                <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    <li data-target="#demo" data-slide-to="2"></li>
                    <li data-target="#demo" data-slide-to="3"></li>
                </ul>
                <!-- tạo slideshow -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/Assets/Client/image/slideshows/slideshow4.png" alt="Los Angeles">
                        <div class="carousel-caption">
                            <h3>Khuyến mãi</h3>
                            <p>Giày chất lượng!</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/Assets/Client/image/slideshows/slideshow2.png" alt="Chicago">
                        <div class="carousel-caption">
                            <h3>Giày mới</h3>
                            <p>Sang trọng!</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/Assets/Client/image/slideshows/slideshow3.png" alt="New York">
                        <div class="carousel-caption">
                            <h3>Giày đẹp</h3>
                            <p>Quý phái!</p>
                        </div>
                    </div>
                </div>
                <!-- tạo nút trước & sau -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- end slideshow -->
<div class="container container-product">
    <div class="row title-row">
        <div class="col-sm ">
            <div class="horizontal-line">
                <div class="product-name-title"><a href="SapXep">Sản Phẩm Giảm Dần </a><i class="fas fa-angle-double-right"></i>	<hr class="line"></div>
            </div>
        </div>
    </div>
    <div class="row best-product-row">
        @foreach (var item in Model)
        {
            var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
            <div class="col-sm-3 col-md-4 col-lg-3 bg-light">
                <div class="top-seller">
                    <div class="card">
                        <div class="card-body">
                            <h6>@item.TenSanPham</h6>
                            <div class="heart-icon" onclick="changeIcon(this)">
                                <i class="far fa-heart fa-lg"></i>
                                <i class="fas fa-heart fa-lg black-heart-icon"></i>
                            </div>
                            <div class="card-img">
                                <a href="@url">
                                    <img class="card-img-top product-img" src="@item.HinhAnh" alt="@item.TenSanPham"><span class="overlay">Chi tiết</span>
                                </a>
                            </div>

                            <div class="product-cost"><p class="center-text"><b> Giá: @item.GiaBan.GetValueOrDefault(0).ToString("N0") VND</b></p></div>
                            <form action="@url" method="GET">
                                <!-- Mặc định method của form là get -->
                                <div class="product-button">
                                    <a href="/them-gio-hang?productID=@item.ID&soluong=1" class="a-button" style="color:black">Mua ngay<i class="fas fa-shopping-cart fa-flip-horizontal"></i></a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))     
 </div>


